/* Sets 'next question' and 'play again' buttons visibilty to hidden by default */
#next-q, #play-again{
    visibility:hidden;
}

#response {
    margin-top:20px
}

#quit-game {
    margin-bottom: 50px;
}

/* increases size of FontAwesome 'refresh' icon */
#refresh {
    font-size: 2em;
}