
/* This will override default styling applied by browser */
*{
    box-sizing: border-box;
    padding: 0 ;
    margin:0 ;
}

/* Generic styles */
body {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: black;
    background-image:url("../images/favicon.png");
    object-fit: cover;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word;

}

h1 {
    color:white;
    background-color:black; 
    padding: 10px;
    border-radius: 15px;
}

h2 {
    padding:30px;
}

.option {
    display: flex;
    margin-bottom: 10px;
}

.fa-solid {
    margin-left: 10px;
}

input {
    display: none;
}

label {
    padding: 7px;
    cursor: pointer;
}

label:hover {
    background-color: black;
    border-radius: 10px;
    color:white;
}

/* Create a 'sticky' on click effect when label is clicked */
input[type="radio"]:checked + label {
    background-color: black;
    border-radius: 10px;
    color:white;
  }

#container-div {
    padding: 20px;
    border-radius:50px;
    display:flex;
    flex-direction: column;
    background-color:white;
    border: black 20px solid;
    text-align: center;
    max-width: 500px;
    max-height: 800px;
}

#q-container {
    margin-bottom: 15px;
}

/* Sets 'next question' and 'play again' buttons display to none by default */
#next-q, #play-again{
    display: none;
    padding: 6px;
    border-radius: 10px;
    font-size: 100%;
    border: black 7px solid;
    background-color: white;
    margin-bottom: 10px;
}

 #play-again:hover {
    background-color: black;
    color: white;
}

#next-q:hover {
    background-color: black;
    color: white;
}

#radio-btns {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    padding:20px;
    height:200px;
}

#submit-btn {
    margin-top:20px;
    padding:6px;
    border-radius:10px;
    font-size:100%;
    border:black 7px solid;
    background-color: white;
}

#submit-btn:hover {
    background-color: black;
    color: white;
}

#response {
   padding-top: 30px;
   margin-bottom: 15px;
}

#quit-game {
    padding: 6px;
    border-radius: 10px;
    border: black 7px solid;
    background-color: white;
}

#quit-game:hover {
    background-color: black;
    color: white;
}

/* increases size of FontAwesome 'refresh' icon */
#refresh {
    font-size: 2em
}

/* Media query: 410px or below (for mobile screens) */

@media screen and (max-width: 410px) {
    #q-heading {
      font-size: 85%;
    }

    #q-container {
        font-size: 85%;
        margin-bottom:0;
    }

    h1 {
        font-size: 90%;
    }

    h2 {
        padding:15px;
    }

.option {
   margin:2px;
   font-size:80%;
}

#submit-btn, #next-q, #play-again  {
    font-size:80%;
}

#response {
    font-size: 0.9em;
}

#refresh {
    font-size: 1.5em;
}
}

/* Removes the 'quiz' background 'wallpaper' for screens sizes below 768px */
@media screen and (max-width: 768px) {
    body {
    background-image:none;
}
}